{% load static %}
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <title>Your Title Here</title>
    <style>
      body {
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  </style>
</head>
<body>

<main class="form-signin">
    <form method="POST" class="p-3">
        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
        {% csrf_token %}    
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            {{ form.username }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password }}
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2023–2024</p>
    <a href="#" class="text-decoration-none">Forget Password?</a><br>
    <a href="{% url 'authentication:signup' %}" class="text-decoration-none">Don't have an account? Create one</a>
</main>

</body>
</html>
